body {
    background-color: #363b4e;
}

#join_img {
    width: 50%;
    margin-top: 10%;
    margin-bottom: 10%;
}

#usr, #pwd, #name {
    width: 50%;
    display: inline-block;
}

#form {
    text-decoration-color: antiquewhite;
}

#id_text, #pw_text, #name_text {
    width: 6%;
    margin-right: 3%;
}

#submit_btn {
    width: 40%;
    background-color: transparent !important;
    background-image: none !important;
    border-color: transparent;
    border: none;
    color: #FFFFFF;
    margin-top: 2%;
}